services:
  elasticsearch:
    image: elasticsearch:8.13.0
    container_name: elasticsearch
    restart: always
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      discovery.type: single-node    
      xpack.security.enabled: false
    ports:
    - 9200:9200
    - 9300:9300
    volumes:
      - elastic_data:/usr/share/elasticsearch/data/
    networks:
      - elk
  
  kibana:
    image: kibana:8.13.0
    container_name: kibana
    restart: always       
    ports:
    - 5601:5601
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200  
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'  
    depends_on:
      - elasticsearch  
    networks:
      - elk

  logstash:
    image: logstash:8.13.0
    container_name: logstash
    restart: always
    volumes:
    - ./logstash/:/logstash_dir
    command: logstash -f /logstash_dir/logstash.conf 
    depends_on:
      - elasticsearch
    ports:
    - 5000:5000
    - 9600:9600
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"    
    networks:
      - elk

volumes:
  elastic_data: {}

networks:
  elk:
    driver: bridge
